body {
	margin: 10px;
	box-sizing: border-box;
	background-color: #F1F1F0;
	user-select: none;
	font-family: 'EB Garamond';
	color: #333;
}

#header {
	text-align: center;
	height: 30px;
}

#container {
	box-sizing: border-box;
	width: 100%;
	display: flex;
	gap: 10px;
	flex-direction: column;
}

#wrapper {
	box-sizing: border-box;
	display: flex;
	width: 100%;
	gap: 10px
}

.box {
	border: 1px solid #333;
	border-radius: 2px;
	margin-top: 10px;
	padding: 15px;
	box-sizing: border-box;
	background-color: #FAFBFA;
	position: relative;
}

#wrapper .box {
	width: 33.33%;
	overflow-y: scroll;
	height: calc(100vh - 200px - 70px);
	position: relative;
}

#wrapper .box.log {
	order: 1;
}
#wrapper .box.ideas {
	order: 2;
}
#wrapper .box.things {
	order: 3;
}

.section {
	margin-bottom: 10px;
}

.section .title {
	color: #ccc;
	font-size: 14px;
	font-variant: small-caps;
	font-weight: 700;
	margin-bottom: 10px;
	border-bottom: 1px solid #ccc;
}

#machines {
	width: 100%;
	margin-left: 0px;
	height: 200px;
	overflow: hidden;
}

#machines .content {
	display: flex;
	height: 100%;
}

.machineUnlock.box {
	width: 33.33%;
	margin-left: 10px;
	text-align: center;
	cursor: pointer;
	margin-top: 0;
	padding-top: 80px;
}

.machine.box {
	width: 33.33%;
	margin-left: 10px;
	text-align: center;
	padding: 10px;
	margin-top: 0;
	transition: width 0.5s;
	overflow-y: hidden;
	overflow-x: scroll;
}

.machine.box .container {
	display: flex;
	gap: 10px;
}

.machine.box:hover {
	width: 100%;
	transition: width 0.5s;
}

.machineUnlock.box:first-child,
.machine.box.want {
	margin-left: 0px;
}

.machineUnlock.box .title,
.machine.box .title  {
	font-weight: 900;
	margin-bottom: 15px;
}

.machine.box .title  {
	color: #FFF;
	text-align: left;
}

.box.machine.mentalize {
	background: linear-gradient(0deg, dodgerblue 0%, navy 100%)
}

.box.machine.reify {
	background: linear-gradient(0deg, limegreen 0%, forestgreen 100%)
}

.box.machine.want {
	background: linear-gradient(0deg, MediumVioletRed 0%, firebrick 100%)
}

.box .header {
	margin-bottom: 10px;
	border-bottom: 1px solid #333;
	padding-bottom: 10px;
	display: flex;
	justify-content: space-between;
}

.box .header strong {
	font-size: 20px;
	font-variant: small-caps;
}

.box .header .right {
	display: flex;
	gap: 10px;
}

.box .header .infoButton {
	width: 24px;
	height: 24px;
	cursor: pointer;
	font-size: 24px;
}

.box .header .infoButton:after {
	font-family: 'Material Symbols Outlined';
	font-variation-settings:
	'FILL' 0,
	'wght' 200,
	'GRAD' 0,
	'opsz' 24
}

.infoButton.info:after {
	content: "\e88e";
}

.infoButton.back:after {
	content: '\e5cd';
}

.infobox {
	background-color: #eee;
}

.infobox .title {
	font-weight: 700;
}

.infobox .infosection {
	margin-bottom: 15px;
}

.infobox .infosection span {
	font-weight: 700;
}

.box .header .buttons {
	display: flex;
	gap: 5px;
}

.button {
	display: inline-block;
	border: 1px solid #333;
	border-radius: 2px;
	padding: 4px 7px;
	cursor: pointer;
	background: #FFF;
	font-size: 13px;
	transition: 0.2s ease-in-out;
}

.item .button {
	margin-left: 5px;
}



#header .button {
	font-size: 16px;
	color: #333;
}

.button:hover {
	background: #F2F2F2;
}

.button:active {
	background: #E4E4E4;
}

.button .counter {
	font-size: 14px;
}

.stripContainer {
	display: flex;
	gap: 10px;
}

.submachineContainer {
	display: flex;
	gap: 10px;
}

.submachine {
  background-color: transparent;
  width: 180px;
  min-width: 180px;
  height: 130px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

.envelope {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
	background-color: #FFF;
	border-radius: 2px;
	outline: 1px solid;
	outline-offset: -5px;
}

.submachine.flip .envelope {
  transform: rotateY(180deg);
}

.card-front, .card-back {
  position: absolute;
 	padding: 10px;
  width: 160px;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.card-front {
}

.card-back {
  transform: rotateY(180deg);
}

.submachine .head {
	display: flex;
  justify-content: space-between;
}

.submachine .name {
	font-weight: 900;
	margin-bottom: 5px;
}

.submachine .collapse {
	display: block;
	width: 20px;
	height: 20px;
	cursor: pointer;
}

.submachine .collapse:after {
	font-family: 'Material Symbols Outlined';
	content: '\f717';

	font-variation-settings:
	'FILL' 0,
	'wght' 200,
	'GRAD' 0,
	'opsz' 24
}

.submachine .settings {
	display: block;
	width: 20px;
	height: 20px;
	cursor: pointer;
}

.submachine .settings:after {
	font-family: 'Material Symbols Outlined';
	content: '\e8b8';

	font-variation-settings:
	'FILL' 0,
	'wght' 200,
	'GRAD' 0,
	'opsz' 24
}

.submachine.collapsed .settings {
	display: none;
}

.submachine.collapsed .collapse {
	height: 100px;
	position: absolute;
}

.submachine.collapsed .collapse:after {
	content: '';
}

.submachine .text {
	font-size: 14px;
}

.submachine.separator .text span {
	font-weight: 700;
}

.submachine.collapsed {
	width: 40px;
	min-width: 40px;
	height: 130px;
	cursor: pointer;
	position: relative;
}

.submachine.collapsed .card-front,
.submachine.collapsed .card-back {
	width: 40px;
	min-width: 40px;
}

.submachine.collapsed .machinery > * {
	display: none;
}

.submachine.collapsed .name {
	writing-mode: vertical-rl;
}

.submachine.collapsed .gaugeDraw {
	display: block !important;
	transform: rotateZ(-90deg);
	pointer-events: none;
	position: absolute;
  width: 122px;
  height: 32px;
  top: 45px;
  left: -41px;
  border-color: transparent;
}

.submachine.collapsed .fuelDraw {
	opacity: 0.4;
	transition: 1s;
}

.submachine.collapsed .button {
	display: none;
}


.strip {
	display: flex;
	height: 100%;
	gap: 10px;
}

.strip.small {
	flex-direction: column;
	display: flex;
}

.tile {
	width: 100px;
	height: 60px;
	padding: 10px;
	cursor: pointer;
	background-color: #FFF;
	border-radius: 2px;
}

.tile.small {
	width: 72px;
	height: 30px;
	padding: 10px;
	cursor: pointer;
	background-color: #FFF;
	font-size: 14px;
	margin-right: 0px;
}

.tile:hover {
	background: #efefef;
}

.tile span {
	display: inline-block;
}

.tile .cost {
	font-size: 12px;
}

.tile.small .cost {
	font-size: 10px;
	width: 100%;
}

.item {
	margin-bottom: 5px;
	position: relative;
}

.count {
	color: #ccc;
}

.rate {
	color: #ccc;
}

.counter {
	float: right;
}

.item.technology:after,
.item.progress:after {
	content:'*';
}

.item.technology:hover:after,
.item.progress:hover:after {
	content:'non-renewable';
	font-size: 10px;
	position: absolute;
	margin-left: 5px;
}

.gaugeDraw {
	display: inline-block;
	width: 100%;
	height: 10px;
	border: 1px solid #333;
	border-radius: 2px;
	margin: 5px auto;
	box-sizing: border-box;
}

.fuelDraw {
	display: inline-block;
	width: 0%;
	height: 100%;
	float: left;
	transition: 1s;
}

.mentalize .fuelDraw {
	background-color: navy;
}

.reify .fuelDraw {
	background-color: forestgreen;
}

.will .fuelDraw {
	background-color: firebrick;
}

.strength .fuelDraw {
	background-color: firebrick;
}

.clicker.on:after {
	content: ' On';
}

.clicker.off:after {
	content: ' Off';
}

.clicker.mentalize.on {
	background-color: navy;
	color: #FFF;
}

.clicker.reify.on {
	background-color: forestgreen;
	color: #FFF;
}

.clicker.pulverize.on {
	background-color: darkgrey;
	color: #FFF;
}

.clicker.purify.on {
	background-color: khaki;
	color: #FFF;
}

.selector {
	font-family: 'EB Garamond';
	max-width: 70px;
}

#result {
	font-weight: 700;
	margin: 5px;
}

#settingsButton {
	width: 24px;
	height: 24px;
	float: right;
	cursor: pointer;
	font-family: 'Material Symbols Outlined';
	font-size: 24px;

	font-variation-settings:
	'FILL' 0,
	'wght' 200,
	'GRAD' 0,
	'opsz' 24
}

#settingsButton.settings:after {
	content: '\e8b8';
}

#settingsButton.back:after {
	content: '\e5cd';
}

#settings {
	box-sizing: border-box;
	display: flex;
	width: 100%;
}

#settings .box {
	width: 33.33%;
	overflow-y: scroll;
	margin-left: 10px;
	height: calc(100vh - 200px - 70px);
	position: relative;
	display: flex;
	flex-direction: column;
}

#settings .box:first-child {
	margin-left: 0px;
}

#settings #credits .content {
	display: flex;
	align-items:center;
	justify-content:center;
	text-align: center;
	flex-grow: 1;
}

#settings #credits .content img.high {
	display: inline;
	width: 60px;
	vertical-align: middle;
}

#settings #credits .content img.galaxy {
	display: inline;
	width: 100px;
	margin-top: 20px;
}